/*
 *  Copyright (C) 2022,2023 Joey Allard
 *  Copyright (C) 2023 Ruben Rodriguez <ruben@gnu.org>
 *  Copyright (C) 2024 Chippy <chippy@classictetris.net>
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif	;
}
body, html {
	height: 100%;
	width: 100%;
	background: rgb(230,233,236);

}

footer {
	padding: 20px;
	background: black;
	display: flex;
	justify-content: space-around;
}
footer a {
	color: lightgray;
}

#categories , #thumbnails{
	flex-wrap: wrap;
	margin: auto;
	display: flex;

	justify-content: space-evenly;
	grid-auto-rows: 1fr;
}
#categories a {
	display: flex;
	padding: 7px;
	font-weight: bold;
	border: 1px solid black;
	margin: 7px auto;
	text-decoration: none;
	border-radius: 4px;
	font-weight: bold;
	color: black;
	background: lightgray;
	transition: all .1s;
}
#categories a:hover {
	background: white;
}
header {
	padding: 20px;
	border-bottom: 2px solid black;
	display: flex;
	justify-content: space-around;
/*	background: #88BDE6;*/
	background: black;
}
.headerLink{
	font-size: 17px;
	text-decoration: none;
	margin-right: 10px;

}
header div {
	display: flex;
	align-items: center;
}
header h1 {
	color: white;
	margin-right: 20px;
}
header a {
	color: white;
	font-weight: bold;
}
.headerLink:hover {
	color: lightgray;
	text-decoration: underline;
}
#search {
	display: flex;
	background: white;
	border-radius: 5px;
	border: 1px solid lightgray;
}
#search input, #search button {
	border-radius: none;
	background: none;
	padding: 5px;
	border: none;
}
#search button {
	font-size: 17px;
	border-left: 2px solid lightgray;
}
#search input {
	width: 300px;
}

.fluid {
	display: block;
	max-width: 1366px;
	padding:  15px;
	margin: auto;
	/*background: red;*/
	border-radius: 15px 15px 0px 0px;
}
#latest, #popular {
	margin: auto;
	/*display: flex;*/
	/*justify-content: space-around;*/
	/*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
	/*grid-auto-rows: 1fr;*/
	/*flex-wrap: wrap;*/
	background: white;
}
.latest {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	width: 238px;
	margin-bottom: 5px;
	background: white;
	/*margin: auto;*/
	/*height: 200px;*/
	align-items: center;
	padding: 5px;
	justify-content: flex-start;
	/*background: red;*/
	text-decoration: none;
	font-weight: bold;
	color: black;
	text-align: center;
	height: 230px;
}
.latest img {
	width: 64px;
	height: 64px;
	object-fit: cover;
	margin-bottom: 5px;
}
.paginationContainer {
	align-self: flex-end;
	display: flex;
}
.paginationContainer a {
	margin-left: 10px;
}
#popularTitle, #recentTitle {
	display: flex;
	justify-content: space-between;
	background: lightgray;
	align-items: center;
	margin-top: 20px;
}
#popularTitleLeft {
	display: flex;
	align-items: center;
}
#popularTitleLeft h2 {
	margin-right: 5px;
}
#popularTitleLeft a {
	font-size: 14px;
	text-decoration: none;
}
#popularTitleLeft a:hover {
	text-decoration: underline;
}
.extension {
	display: flex;
	margin-bottom: 10px;
}
.extension img {
	width: 64px;
	height: 64px;
	margin-right: 10px;
}
.extensionRight {
	display: flex;
	flex-direction: column;
	/*justify-content: flex-start;*/
	justify-content: flex-start;
	/*background: red;*/
	flex: 1;
}
.extensionRight a {
	font-weight: bold;
	text-decoration: none;
	display: flex;
	color: black;
	margin-bottom: 5px;
}
.extensionRight a:hover {
	text-decoration: underline;
}
.extensionRight p {
	font-size: 14px;
}

ul {
	margin: 15px 0 15px 30px
}
h1.subtitle {
	max-width: 1366px;
	padding: 10px;
	background: white;
	margin: 10px auto;
}
@media screen and (max-width: 800px) {
	header{
		flex-direction: column;
	}
	#search {
		margin-top: 10px;
	}
	#search input {
		flex:1;
	}
	header div {
		justify-content: space-between;
	}
}

/* ADDED */

.tdcenter 
{
    text-align: center; 
    vertical-align: middle;
    
}
.mright{
	text-align: left;
	vertical-align: middle;
	padding-left:5px;
}

.red-gradient{
	background: rgb(221,221,221);
	background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(210,140,140,1) 35%);
}
.yellow-gradient{
	background: rgb(221,221,221);
        background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(210,240,0,1) 35%);
}
.green-gradient{
	background: rgb(221,221,221);
	background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(156,226,161,1) 35%);
}
.grey-gradient{
        background: grey;
        /*background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(156,226,161,1) 35%);*/
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


/* Smoothing agent for details */
details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: 0px}
  100%  {opacity: 1; margin-left: 0px}
}
